{% extends 'base.html.twig' %}

{% block title %}MC-Danse | {{ page.nom }}{% endblock %}

{% block body %}
<div style="margin-left: 3%;">
    {{ page.corp|raw }}
</div>
{% if page.id == 4 %}
    {% if page.videoPath is defined %}
        <!-- Afficher la vidéo ici -->
        <center>
            <video controls width="640" height="360">
                <source src="{{ asset('/upload/video/' ~ page.videoPath) }}" type="video/mp4">
                Votre navigateur ne prend pas en charge la lecture de vidéos.
            </video>
        </center>
    {% endif %}
{% endif %}
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <a href="{{ path('app_page_index') }}"><button class="btn btn-danger">Voir la liste</button></a>

    <a href="{{ path('app_page_edit', {'id': page.id}) }}"><button class="btn btn-success">Modifier</button></a>

{% endif %}

{% endblock %}
