{% extends 'base.html.twig' %}

{% block title %}MC-Danse | {{ spectacle.nom }}{% endblock %}
{% block stylesheets %}
<style>
    .event-container {
        max-width: 1200px; /* Largeur maximale souhaitée */
        margin: 20px 5%; /* Augmenter la marge sur les côtés pour centrer le contenu */
        padding: 20px;
        background-color: #ff4081;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .event-image {
        width: 100%;
        max-height: 400px; /* Réglez la hauteur maximale souhaitée pour l'image */
        object-fit: cover;
        border-radius: 10px;
    }

    .event-header {
        font-size: 40px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        margin-top: 10px;
        font-family: 'Amsterdam',sans-sherif;
    }

    .event-name {
        font-family: 'Amsterdam', sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        text-align: center; /* Centrer le nom */
        margin-top: 10px;
    }

    .event-price {
        font-size: 25px;
        font-weight: bold;
        color: #fff;
        text-align: center; /* Centrer le tarif */
        margin-top: 5px;
    }

    .event-description {
        font-size: 18px;
        color: #fff;
    }

    .back-to-list {
        display: block;
        text-align: center;
        margin-top: 20px;
        color: #fff;
        text-decoration: none;
    }

    .edit-button,
    .delete-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: #fff;
        background-color: #f8f8f8;
        border: none;
        border-radius: 5px;
        text-decoration: none;
    }

    .edit-button:hover,
    .delete-button:hover {
        background-color: #eaeaea;
    }
</style>
{% endblock %}

{% block body %}
    <div class="event-container">
        <div class="row mb-4">
            <div class="col-md-6">
                <img src="/upload/images/{{ spectacle.image }}" class="event-image" alt="{{ spectacle.nom }}">
            </div>
            <div class="col-md-6">
            <br/><br/><br/><br/><br/>
                <h1 class="event-header">{{ spectacle.nom }}</h1>
                <br>
                <div class="event-price">Tarif : {{ spectacle.tarif }} €</div>
            </div>
        </div>
</div>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('app_spectacle_index') }}"><button class="btn btn-danger">voir la liste</button></a>
        <a href="{{ path('app_spectacle_edit', {'id': spectacle.id}) }}"><button class="btn btn-warning">Modifier</button></a>
        {{ include('spectacle/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
