{% extends 'base.html.twig' %}

{% block title %}Discipline{% endblock %}

 
{% block stylesheets %}
<style>
    .discipline-container {
        background-color: #ff4081;
        margin: 20px auto;
        padding: 20px;
        width: 90%;
        text-align: center;
    }

    .discipline-image {
        position: relative;
        top: -13%;
        left: -6%;
        /* border: 1px solid black; Bordure noire */
        margin: 0.5%;
        border-radius: 10px;
    }

    .discipline-content {
        font-size: 50px;
    }

    .nom {
        font-family: 'Amsterdam', sans-serif;
        font-size: 50px;
        color: white;
    }

    .contenue {
        font-size: 24px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        justify-content: center;
    }
</style>
{% endblock %}



{% block body %}
    <br><br><br><br>
    <div class="discipline-container">
        <div class="row mb-4">
            <div class="col-md-7 text-left">
                <img src="/upload/images/{{ discipline.image }}" class="img-fluid discipline-image">
            </div>
            <div class="col-md-5 text-right">
                <br><br><br><br><br><br>
                <h1 class="nom"><i>{{ discipline.nom }}</i></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="contenue">{{ discipline.contenue|raw }}</div>
            </div>
        </div>

        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <a href="{{ path('app_discipline_index') }}" class="btn btn-warning">Voir la liste</a>
                <a href="{{ path('app_discipline_edit', {'id': discipline.id}) }}" class="btn btn-success">Modifier</a>
                {{ include('discipline/_delete_form.html.twig') }}
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}
