{% extends 'base.html.twig' %}

{% block title %}Initiation{% endblock %}

{% block body %}
    <h1>Initiation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ initiation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ initiation.nom }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ initiation.tarif }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ initiation.date ? initiation.date|date('Y-m-d H:i:s T') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_initiation_index') }}">back to list</a>

    <a href="{{ path('app_initiation_edit', {'id': initiation.id}) }}">edit</a>

    {{ include('initiation/_delete_form.html.twig') }}
{% endblock %}
